<table class="table">
    <thead>
        <tr class="bg-danger" style="color:white">
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Age</th>
            <th scope="col">Country</th>
            <th scope="col">PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-primary" style="color:aliceblue">
            <td scope="row">@ViewBag.name</td>
            <td >@ViewBag.surname</td>
            <td>@ViewBag.age</td>
            <td>@ViewBag.country</td>
            <td>@ViewBag.phoneNumber</td>
        </tr>
    </tbody>
</table>